// Theme Variables
// Color
$bootstrap-primary: #00ce68 !default;
$bootstrap-success: #00ce68 !default;
$bootstrap-danger: #e65251 !default;
$bootstrap-warning: #d99500 !default;
$bootstrap-info: #17a2b8 !default;
$bootstrap-secondary: #6c757d !default;


$bootstrap-input-padding-y: .575rem !default;
$bootstrap-input-padding-x: 2rem !default;
$swal2-input-padding: $bootstrap-input-padding-y $bootstrap-input-padding-x;


$bootstrap-input-focus-width: 0.25rem !default;
$bootstrap-input-focus-box-shadow: 0 0 0 $bootstrap-input-focus-width rgba($bootstrap-secondary, 0.25) !default;

@import '~@sweetalert2/theme-bootstrap-4/bootstrap-4.scss';

.swal2-title {
  font-size: 1.5rem !important;
}

.swal2-styled {
  border-radius: 2rem !important;
  font-weight: 400;
  font-size: 1rem;
  
  &:focus {
    outline: 0;
    box-shadow: $bootstrap-input-focus-box-shadow;
  }

  &.primary {
    background-color: $bootstrap-primary;

    &:hover {
      border-color: darken($bootstrap-primary, 10%);
      background-color: darken($bootstrap-primary, 7.5%);
    }

    &:active {
      border-color: darken($bootstrap-primary, 12.5%);
      background-color: darken($bootstrap-primary, 10%);
    }
  }

  &.info {
    background-color: $bootstrap-info;

    &:hover {
      border-color: darken($bootstrap-info, 10%);
      background-color: darken($bootstrap-info, 7.5%);
    }

    &:active {
      border-color: darken($bootstrap-info, 12.5%);
      background-color: darken($bootstrap-info, 10%);
    }
  }

  &.success {
    background-color: $bootstrap-success;

    &:hover {
      border-color: darken($bootstrap-success, 10%);
      background-color: darken($bootstrap-success, 7.5%);
    }

    &:active {
      border-color: darken($bootstrap-success, 12.5%);
      background-color: darken($bootstrap-success, 10%);
    }
  }

  &.warning {
    background-color: $bootstrap-warning;

    &:hover {
      border-color: darken($bootstrap-warning, 10%);
      background-color: darken($bootstrap-warning, 7.5%);
    }

    &:active {
      border-color: darken($bootstrap-warning, 12.5%);
      background-color: darken($bootstrap-warning, 10%);
    }
  }

  &.danger {
    background-color: $bootstrap-danger;

    &:hover {
      border-color: darken($bootstrap-danger, 10%);
      background-color: darken($bootstrap-danger, 7.5%);
    }

    &:active {
      border-color: darken($bootstrap-danger, 12.5%);
      background-color: darken($bootstrap-danger, 10%);
    }
  }
}

.swal2-styled-outline {
  border-radius: 2rem;
  font-size: 1rem;
  
  &.success {
    border: 2px solid $bootstrap-success;
    background-color: #FFF;
    color: $bootstrap-success;

    &:hover {
      color: #FFF;
      border-color: darken($bootstrap-success, 10%);
      background-color: darken($bootstrap-success, 7.5%);
    }
  }

  &.primary {
    border: 2px solid $bootstrap-primary;
    background-color: #FFF;
    color: $bootstrap-primary;

    &:hover {
      color: #FFF;
      border-color: darken($bootstrap-primary, 10%);
      background-color: darken($bootstrap-primary, 7.5%);
    }
  }
  
  &.info {
    border: 2px solid $bootstrap-info;
    background-color: #FFF;
    color: $bootstrap-info;

    &:hover {
      color: #FFF;
      border-color: darken($bootstrap-info, 10%);
      background-color: darken($bootstrap-info, 7.5%);
    }
  }

  &.danger {
    border: 2px solid $bootstrap-danger;
    background-color: #FFF;
    color: $bootstrap-danger;

    &:hover {
      color: #FFF;
      border-color: darken($bootstrap-danger, 10%);
      background-color: darken($bootstrap-danger, 7.5%); 
    }
  }

  &.warning {
    border: 2px solid $bootstrap-warning;
    background-color: #FFF;
    color: $bootstrap-warning;

    &:hover { 
      color: #FFF;
      border-color: darken($bootstrap-warning, 10%);
      background-color: darken($bootstrap-warning, 7.5%);
    }
  }

}

